body{
    margin: 0px;
}

.subTitle{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    color: black;
    margin: 50px;
}