.gcloudignore
.git
.gitignore
node_modules
.angular
src
e2e
functions
package.json
package-lock.json
tsconfig.json
angular.json
skills
.agent
.agents
.claude
.cursor
tmp

# Allow dist and config files
!dist/sahaay/browser
!nginx.conf
!Dockerfile
